<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">140</td>
        <td th:text="${author.firstName}">Thao</td>
        <td th:text="${author.lastName}">Nguyen</td>
    </tr>
</table>

</body>
</html>